.category{

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .item{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        text-decoration: none;
        color: var(--black) black;

        img{
            width: 35px;
        }
    }
}